<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Lasya Sreepada">
    <link rel="icon" href="../../favicon.ico">

    <title>IP Law for Digital Teens</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for this template -->
    <link href="/static/justified-nav.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h1 class="text">IP Law for Digital Teens</h1>
        <nav>
          <ul class="nav nav-justified">
	    <li><a href="/">Home</a></li>
	    <li><a href="reading">Reading Court Cases</a></li>
            <li><a href="quiz">Quiz</a></li>
	    <li><a href="humor">Court Humor</a></li>
	    <li><a href="memes">Memes</a></li>
          </ul>
        </nav>
      </div>

      <div class="masthead">
	      <h2 class="text">Sassy Judge Quotes!</h2>
	      <h4 class="text">by Lauren Ribordy</h4>
	      <p>A few cases have impeccably sassy and comedic commentary from judges. Note: these are all real quotes from judges. Some selections have been collected below:</p>
	      <p><b>DC Comics v. Towle</b></p>
	      <p>The very first line: "Holy copyright law, Batman!"
"To the Batmobile!"
"The character 'James Bond' qualifies for copyright protection because, no matter what the actor who portrays this character looks like, James Bond always maintains his 'cold-bloodedness; his overt sexuality; his love of martinis "shaken, not stirred;" his marksmanship; his "license to kill" and use of guns; his physical strength; [and]his sophistication.'"
"Similarly, while the character Godzilla" may have a different appearance from time to time, it is entitled to copyright protection because it "...is always a pre-historic, fire- breathing, gigantic dinosaur alive and well in the modern
world."
Footnote: "This episode causes Robin to exclaim 'Whee! The Batplane couldn’t do better!'"
"As Batman so sagely told Robin, 'In our well-ordered society, protection of private property is essential.'"</p>
	      <p><b>Louis Vuitton Malletier (LVM) v. Haute Diggity Dog</b></p>
	      <p>"...No one can doubt also that the 'Chewy Vuiton' dog toy is not the 'idealized image' of the mark created by LVM. The differences are immediate, beginning with the fact that the 'Chewy Vuiton' product is a dog toy, not an expensive, luxury LOUIS VUITTON handbag. The toy is smaller, it is plush, and virtually all of its designs differ. Thus, 'Chewy Vuiton' is not LOUIS VUITTON ('Chewy' is not  'LOUIS' and 'Vuiton' is not 'VUITTON,'' with its two Ts)..."
"The furry little 'Chewy Vuiton' imitation, as something to be chewed by a dog, pokes fun at the elegance and expensiveness of a LOUIS VUITTON handbag, which must not be chewed by a dog."
"...It also contends that  'Chewy  Vuiton'  dog toys are likely to tarnish LVM’s marks because they 'pose a choking hazard for some dogs.'...LVM has, however, provided no record support for its assertion. It relies only on speculation about whether a dog could choke on the chew toys and a logical concession that a $10 dog toy made in China was of 'inferior quality' to the $1190 LOUIS VUITTON  handbag.
At oral argument, [LVM] provided only a flimsy theory that a pet may some day choke on a Chewy Vuiton squeak toy and incite the wrath of a confused consumer against LOUIS VUITTON."</p>
	      <p><b>Mattel Inc. v. MCA Records</b></p>
	      <p>The very first line: "If this were a sci-fi melodrama, it might be called Speech-Zilla meets Trademark Kong."
"[Barbie] has survived attacks both psychic (from feminists critical of her fictitious figure) and physical (more than 500 professional makeovers)."
"...a Mattel representative responded by saying, '[Just adding a disclaimer is] unacceptable․ It's akin to a bank robber handing a note of apology to a teller during a heist. [It n]either diminishes the severity of the crime, nor does it make it legal.' He later characterized the song as a 'theft' of 'another company's property.'
"MCA filed a counterclaim for defamation based on the Mattel representative's use of the words 'bank robber,' 'heist,' 'crime' and 'theft.' But all of these are variants of the invective most often hurled at accused infringers, namely 'piracy.' No one hearing this accusation understands intellectual property owners to be saying that infringers are nautical cutthroats with eyepatches and peg legs who board galleons to plunder cargo."
"The parties are advised to chill."</p>
	      <p><b>Dallas Cheerleaders v. Pussycat Cinema</b></p>
	      <p>"In November 1978 the Pussycat Cinema began to show 'Debbie Does Dallas,' a gross and revolting sex film whose plot, to the extent that there is one, involves a cheerleader at a fictional high school, Debbie, who has been selected to become a 'Texas Cowgirl.'"
"The movie consists largely of a series of scenes graphically depicting the sexual escapades of the 'actors'."
"In the instant case, the uniform depicted in 'Debbie Does Dallas' unquestionably brings to mind the Dallas Cowboys Cheerleaders. Indeed, it is hard to believe that anyone who had seen defendants' sexually depraved film could ever thereafter disassociate it from plaintiff's cheerleaders."</p>
	      <p><b>Universal City Studios, Inc. v. Eric Corle</b></p>
	      <p>"[The] Appellants contend, rather hyperbolically, that a prohibition on using copying machines...could not validly be upheld by the availability of 'monks to scribe the relevant passages.'"</p>
	      <p><b>Dissent of Antonin Scalia in American Broadcasting Cos., Inc. v. Aereo, Inc.</b></p>
	      <p>"Perhaps the Court means to adopt (invent, really) a two-tier version of the Copyright Act, one part of which applies to 'cable companies and their equivalents' while the other governs everyone else...The  rationale  for  the  Court’s  ad  hoc  rule  for  cable-system lookalikes is so broad that it renders nearly a third of  the  Court’s  opinion  superfluous."
	      "That  leaves  as  the  criterion  of  cable-TV-resemblance  nothing but th’ol’ totality-of-the-circumstances test (which is  not  a  test  at  all  but  merely  assertion  of  an  intent  to perform test-free, ad hoc, case-by-case evaluation)"</p>
	      <p><b>Cariou v. Prince</b></p>
	      <p>"The district court based its conclusion that  Prince's work is not transformative in large part on Prince's deposition testimony that he 'do[es]n't really have a message'...Rather  than  confining  our  inquiry  to Prince's  explanations  of  his  artworks,  we  instead  examine  how  the  artworks  may 'reasonably be perceived'"</p>
	
      </div>
      <!-- WebSite Footer -->
      <footer class="footer">
	      <p>&copy; 2017. Created by <a href="https://github.com/lasyasreepada/iplaw-for-digital-teens" target="_blank">Lasya Sreepada</a> for CPSC 184: Intellectual 		Property in the Digital Age.</p>
      </footer>

</body>
 
</html>




