<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Lasya Sreepada">
    <link rel="icon" href="../../favicon.ico">

    <title>IP Law for Digital Teens</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for this template -->
    <link href="/static/justified-nav.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h1 class="text">IP Law for Digital Teens</h1>
        <nav>
          <ul class="nav nav-justified">
	    <li><a class="active" href="/">Home</a></li>
            <li><a href="quiz">Quiz</a></li>
            <li><a href="memes">Memes</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Which IP Law are You?</h1>
        <p class="lead">Take this quiz to see what branch of IP Law you are most cut out for! Once you know your 'type', explore the links below to learn about what each branch entails and the differences between them.</p>
        <p><a class="btn btn-lg btn-success" href="https://trinket.io/python/16610dc226?outputOnly=true&runOption=run" target="_blank" role="button">Take the Quiz!</a></p>
      </div>

      <!-- Branches of IP Law -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Copyright Law</h2>
          <p>Copyright is a legal right over the use and distribution of an original work granted to its creator, usually for a limited time. These exclusive rights are not absolute and are governed by Title 17 of the US Code (USC 17), which outlines fundamentals of copyright law and its exceptions, including fair use. Copyrightable works must be original expressions of an idea that are not functional products; an idea itself also cannot be copyrighted.</p>
          <p><a class="btn btn-primary" href="copyright" role="button">Learn More &raquo;</a></p>
      </div>

      <div class="col-lg-4">
          <h2>Trademark Law</h2>
          <p>Trademarks are symbols or devices that are legally registered or established by use as representative marks of a company or product. Chapter 22 of US Code Title 15 outlines trademark law, defining what is meant by "symbols or devices" and establishing what sorts of things are eligible for trademarks. Examples of trademarkable symbols include colors, sounds, smells, one or more words, and stylized images.  </p>
          <p><a class="btn btn-primary" href="trademark" role="button">Learn More &raquo;</a></p>
      </div>

      <div class="col-lg-4">
          <h2>Patent Law</h2>
          <p>Patents are exclusive rights over development and sale of a novel functional product, device, or process, granted to the inventor for ~20 years. Patent applications must consist of drawings, written description of the product, and claims detailing precisely what is being patented. An inventor may apply for a utility patent or a design patent, although the former is more common since design patents often overlap with copyrights.</p>
          <p><a class="btn btn-primary" href="patent" role="button">Learn More &raquo;</a></p>
        </div>
      </div>

      <!-- WebSite Footer -->
      <footer class="footer">
	      <p>&copy; 2017. Created by <a href="https://github.com/lasyasreepada/iplaw-for-digital-teens" target="_blank">Lasya Sreepada</a> for CPSC 184: Intellectual 		Property in the Digital Age.</p>
      </footer>

</body>
 
</html>
