<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Lasya Sreepada">
    <link rel="icon" href="../../favicon.ico">

    <title>IP Law for Digital Teens</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for this template -->
    <link href="/static/justified-nav.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h1 class="text">IP Law for Digital Teens</h1>
        <nav>
          <ul class="nav nav-justified">
	    <li><a href="/">Home</a></li>
	    <li><a href="reading">Reading Court Cases</a></li>
            <li><a href="quiz">Quiz</a></li>
	    <li><a href="humor">Court Humor</a></li>
	    <li><a href="memes">Memes</a></li>
          </ul>
        </nav>
      </div>

      <div class="masthead">
	      <h2 class="text">IP Law Memes Galore!</h2>
	      <h4 class="text">Memes by Isaak Cuenco-Reyes</h4>

	      <p style="text-align: center">See if you can identify which branch of Intellectual Property Law each meme relates to!</p>
      </div>
      <div class="text">
	      <hr>
	      <img src="/static/memes/water-patent.jpg" alt="meme" style="width:400px;height:400px;"</img>
	      <hr>
	      <img src="/static/memes/chainsmokers.jpg" alt="meme" style="width:400px;height:400px;"</img>
	      <hr>
	      <img src="/static/memes/happyfeet.jpg" alt="meme" style="width:400px;height:400px;"</img>
	      <hr>
	      <img src="/static/memes/tortoise.jpg" alt="meme" style="width:400px;height:400px;"</img>
	      <hr>
	      <img src="/static/memes/justice-league.jpg" alt="meme" style="width:400px;height:400px;"</img>
	      <hr>
	      <img src="/static/memes/observation.jpg" alt="meme" style="width:400px;height:400px;"</img>
	      <hr>
	      <img src="/static/memes/avengers.jpg" alt="meme" style="width:400px;height:400px;"</img>
	      <hr>
	      <img src="/static/memes/price.jpg" alt="meme" style="width:400px;height:400px;"</img>

      </div>
      
      <!-- WebSite Footer -->
      <footer class="footer">
	      <p>&copy; 2017. Created by <a href="https://github.com/lasyasreepada/iplaw-for-digital-teens" target="_blank">Lasya Sreepada</a> for CPSC 184: Intellectual 		Property in the Digital Age.</p>
      </footer>

</body>
 
</html>



