<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Lasya Sreepada">
    <link rel="icon" href="../../favicon.ico">

    <title>IP Law for Digital Teens</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for this template -->
    <link href="/static/justified-nav.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h1 class="text">IP Law for Digital Teens</h1>
        <nav>
          <ul class="nav nav-justified">
	    <li><a href="/">Home</a></li>
	    <li><a href="reading">Reading Court Cases</a></li>
            <li><a href="quiz">Quiz</a></li>
	    <li><a href="humor">Court Humor</a></li>
	    <li><a href="memes">Memes</a></li>
          </ul>
        </nav>
      </div>

      <div class="masthead">
	      <h2 class="text">Patent Law in a Nutshell</h2>
	      <h4 class="text">by Isaak Cuenco-Reyes</h4>
	      <p>Origin of the “Patent” right: Article 1 Section 8 Clause 8 – congress shall have the power to control progress in technology and useful arts.</p>
	      <p><b>If you are a start up company, why would you want a patent?</b></p>
	      <ul>
		      <li>Long-lasting product protection (14 years design; 20 years utility)</li>
		      <li>Can exclude new competition</li>
		      <li>Can seek civil and criminal damages for patent infringement, thereby discouraging others from unlawful use. (This creates a barrier to entry for other firms allowing the monopoly to earn abnormal profits.)</li>
		      <li>Signals value to investors of innovation / creativity / protective value
			      (NOTE: “Patent Pending” means nothing to investors.)</li>
		      <li>Protection from industry monopolies (may also allow monopoly to earn rents from licensing the patent to other firms.)</li>
	      </ul>     
	      <p><b>Patent Requirements:</b><p>
	      <ul>
		      <li>Novelty</li>
		      <li>Non-obviousness</li>
		      <li>Usefulness</li>
		      <li>Subject matter eligible (cannot be naturally occurring / laws of nature / abstract ideas)</li>
		      <li>Submitted description: Written specific description that enables someone to make the invention (*quid pro quo)</li>
		      <li>Written Claim / Diagram (Design Patents = you own the Diagram, Utility Patent = you own Written Claim). One sentence definition / description of the patent / subject matter that is sufficiently definite.</li>
	      </ul>

	      <hr>
	      
	      <h3 class="text">Utility vs. Design Patents</h3>
	      <p>A “utility patent” protects the way an article is used and works (35 U.S.C. 101), while a “design patent” protects the way an article looks (35 U.S.C. 171). The ornamental appearance for an article includes its shape/configuration or surface ornamentation applied to the article, or both.</p>
	      <h4 class="text">Utility Patents</h4>
	      <p><b>Benefits</b></p>
	      <ul>
		      <li>Protects the functional aspects of an invention.</li>
		      <li>Can provide broad patent protection making it difficult for a competing product to avoid <a href="https://www.neustel.com/patents/patent-infringement/" target="_blank">patent infringement.</a></li>
		      <li>Capable of protecting many different variations of a product with a single utility patent</li>
	      </ul>
	      <p><b>Limitations</b></p>
	      <ul>
		      <li>More expensive than a design patent.</li>
		      <li>Takes longer to receive patent protection (normally 2-3 years).</li>
		      <li>Does not protect the ornamental features of an invention</li>
	      </ul>

	      <h4 class="text">Design Patents</h4>
	      <p><b>Benefits</b></p>
	      <ul>
		      <li>Historically cheaper and easier to obtain than utility patent.</li>
		      <li>Usually faster patent protection at the U.S. Patent Office (normally between 1-2 years). If the main feature of the new product is the appearance (i.e. ornamental design), then a design patent will protect this main feature.</li>
	      </ul>
	      <p><b>Limitations</b></p>
	      <ul>
		      <li>Design patents do not protect the functional features of an invention (most inventions have functional features).</li>
		      <li>Design patents can be relatively easy for competing products to subvert / design around by simply changing an element of ornamentation.</li>
		      <li>Difficult to protect different variations of the same product.</li>
	      </ul>

	      <hr>

	      <h3 class="text">The Economics of Intellectual Property Patents</h3>
	      <p>The basic rationalization of intellectual property rights is the tradeoff between static and dynamic efficiency. IP rights provide, ex ante, exclusivity in the commercial exploitation of innovations. In turn, such innovations – whether new products, processes, or creative works – provide the impetus of economic growth.</p>
	      <img src="/static/equations/equation1.png" alt="equation 1"</img>
	      <p>Suppose an invention requires C (initial cost) investment and adds positive social value.
	      If no monopoly rights are given, competitors can enter into the market and the resulting competition would drive profits to zero. (Firms keep entering and the additional supply lowers prices until profits are zero.) If the first investor is given a patent, competitors cannot enter and the positive profits of Y are earned. If there are no patents, the firm will not invest. It would face a cost of C but profits of 0. It is a net negative investment. If patents are provided, firms would invest if the following condition holds: (r is the discount rate. t is the duration for which the patent lasts.)</p>
	      <p>The purpose of patent law is to allow this business to earn revenue to justify cost C, and allow for the added positive social value.</p>
	      
	      <p><b>What is the problem with this model?</b></p>
	      <p>However, the source of monopoly profits is the ability to charge customers higher than perfect prices, seek rents from other producers for use of technology. Suppose that these activities impose net costs of <b>X</b>. Let <b>Z</b> be the net benefits to society from the invention after the patent has expired. So the effect of the patent on society for <b>T</b> years is given by the following equation: </p>
	      <p><i>Ideally</i>, the goal should be to set the patent duration <b>T</b> on a <i>case by case basis</i> so as to maximize the social surplus. But <b>courts, legislatures, and administrative agencies</b> are ill-equipped to determine the optimal length for a patent for any particular invention. As a heuristic, instead of case by case determination, US Patent offices gives each successful patent the same duration (20 years for utility patents, and 14 years for design patents). Given that <b>T</b> is fixed at 20 years, the courts should grant a patent if the following condition is met:</p>
	      <img src="/static/equations/equation2.png" alt="equation 2"</img>
	      <p>Condition is more likely to be met if Y is large, X is small, and Z is large. Consider trying to patent a discovered <b>natural idea</b>: Since many processes and subsequent inventions may potentially use it, X is likely to be large due to costs imposed on third parties by the monopoly.</p>

	      <p>Read more about <a href="copyright">copyright</a> and <a href="trademark">trademark</a> here.</p>

	      <hr>

	      <h4 class="text">References:</h4>
	      <p>1. <b>35 U.S.C.A. § 101</b> : Whoever invents or discovers any new and useful process, machine, manufacture, or composition of matter, or any new and useful improvement thereof, may obtain a patent therefor, subject to the conditions and requirements of this title.</p>
	      <p>2. <b>35 U.S.C.A. § 102</b>: novelty condition.</p>
	      <p>3. <b>35 U.S.C.A. § 103</b>: non-obvious subject matter condition. (not patentable “if the differences between the claimed invention and the prior art are such that the claimed invention as a whole would have been obvious before the effective filing date of the claimed invention to a person having ordinary skill in the art to which the claimed invention pertain”)</p>
	      <p>4. <b>35 U.S.C.A. § 112</b>:  written description (“The specification shall contain a written description of the invention, and of the manner and process of making and using it, in such full, clear, concise, and exact terms as to enable any person skilled in the art to which it pertains, or with which it is most nearly connected, to make and use the same, and shall set forth the best mode contemplated by the inventor or joint inventor of carrying out the invention”)</p>

      </div>
      <div class="text" style="text-align: center">
	      <img src="/static/memes/patent.jpg" alt="Patent meme" style="width:500px;height:500px;"</img>
	      <p>Meme credits to Isaak Cuenco-Reyes</p>
      </div>

      <!-- WebSite Footer -->
      <footer class="footer">
	      <p>&copy; 2017. Created by <a href="https://github.com/lasyasreepada/iplaw-for-digital-teens" target="_blank">Lasya Sreepada</a> for CPSC 184: Intellectual 		Property in the Digital Age.</p>
      </footer>

  </body>
</html>
