<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Lasya Sreepada">
    <link rel="icon" href="../../favicon.ico">

    <title>IP Law for Digital Teens</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for this template -->
    <link href="/static/justified-nav.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h1 class="text">IP Law for Digital Teens</h1>
        <nav>
          <ul class="nav nav-justified">
	    <li><a href="home">Home</a></li>
            <li><a href="quiz">Quiz</a></li>
            <li><a class = "active" href="memes">Memes</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
	      <h2 class="text">Which IP Law are You?</h2>
	      <p>Quiz Page</p>
      </div>
      <!-- WebSite Footer -->
      <footer class="footer">
            <p>&copy; 2017. Created by Lasya Sreepada for CPSC 184: Intellectual Property in the Digital Age.</p>
      </footer>

</body>
 
</html>



