<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Lasya Sreepada">
    <link rel="icon" href="../../favicon.ico">

    <title>IP Law for Digital Teens</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for this template -->
    <link href="/static/justified-nav.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h1 class="text">IP Law for Digital Teens</h1>
        <nav>
          <ul class="nav nav-justified">
	    <li><a href="/">Home</a></li>
	    <li><a href="reading">Reading Court Cases</a></li>
            <li><a href="quiz">Quiz</a></li>
	    <li><a href="humor">Court Humor</a></li>
	    <li><a href="memes">Memes</a></li>
          </ul>
        </nav>
      </div>

      <div class="masthead">
	      <h2 class="text">What to Expect When Reading Court Proceedings: a Primer</h2>
	      <h4 class="text">by Lauren Ribordy</h4>
	      <p>Reading any kind of court decision--referred to as an opinion--for the first time is difficult. Judges who oversee trials will write up a report discussing and explaining their final sentence. Judges each oversee a particular court, such as one of the United States' several district courts or the Supreme Court. Judge decisions vary in format from court to court, but generally follow this structure:</p>
	      <ul><li>Abstract,</li>
		      <li>Background,</li>
		      <li>Discussion/Opinion (Explanation of Rhetoric), and</li>
		      <li>the Judgment.</li></ul>
	      <p>In the abstract, the judge will introduce the parties involved in the case and the court's final sentencing decision. In the background, the judge will explain the circumstances of the case and relevant information pertaining to the case's subject matter or involved parties. In the discussion, the judge will explain their thought process all the way through the decision-making process. Finally, the judge states their decision and leaves last remarks in the concluding judgment.</p>
	      <p>The discussion is the meat of every court case. Discussions are typically broken down into subsections to address different methods of approaching the case. Often, discussions may describe processes developed by previous judges or introduce new processes. The goal of these processes is to create an algorithm by which to decide the not only the current case, but all future cases of the same type. In this way, the law is standardized, and instead of seeing every case of the same type going forward, plaintiffs and defendants can use an old case as precedent for settlement or for avoiding court. To better clarify: if a party wants to sue another entity, that entity's lawyers may produce a previous court case as proof of innocence. This concept of precedence is why practitioners of law study court decisions.</p>
	      <p>Judges employ language and terminology that can be obtuse and unfamiliar; among terms frequently used are untranslated bits of latin. These words are all <a href="http://www.uscourts.gov/glossary">defined by the United States government</a>, and have been explained in simple terms below:</p>
	      <p><b>Defendant:</b> the entity brought to court on charges of wrong-doing; they must defend themselves before the court.</p>
	      <p><b>Plaintiff:</b> the entity that brings a suit/complaint to trial against the defendant.</p>
	      <p><b>To appeal:</b> when you've already gone to court once, and you don't accept the judge's decision on your case, you can appeal the decision. This means that the case will be elevated to an appeals court and the trial process will recommence.</p>
	      <p><b>Panel:</b> in appeal cases, the panel refers to the selection of judges overseeing the case.</p>
	      <p><b>Appellant:</b> the party that files an appeal.</p>
	      <p><b>Appellee:</b> the party who is against the appellant; they are the party that won the trial. Their duty is to persuade the judge to affirm the previous court's decision.</p>
	      <p><b>To affirm:</b> when a judge receives a case on appeal, if the judge agrees with the decision of the previous court, the judge affirms the lower court's decision.</p>
	      <p><b>To reverse:</b> to overturn the decision of a lower court; opposite of affirm</p>
	      <p><b>To remand:</b> to send something back, such as a case back to a lower court.</p>
	      <p><b>Writ:</b> a written order.</p>
	      <p><b>Assets:</b> things you possess, material and immaterial. A material example is a piece of artwork; an immaterial asset is information, such as a secret recipe.</p>
	      <p><b>Damages:</b> when the accused party loses a case, they may have to pay damages, or money, for the purpose of either compensating the plaintiff directly or serving out a punishment.</p>
	      <p><b>Injunction:</b> in intellectual property law, this usual means that the defendant's infringing intellectual property be seized.</p>
	      <p><b>Preliminary Injunction:</b> if the court decides on presented evidence that potentially infringing intellectual property may imminently, and irreversibly damage, the plaintiff (i.e. a trade secret posted online), the court may issue a preliminary injunction to seize said intellectual property before the court has written a formal decision that would result in a typical injunction.</p>
	      <p><b>Precedent:</b> when judges discuss the case and explain their rhetoric, they frequently reference past court decisions as evidence to undergird their logic. These past decisions have set precedents upon which the judge draws.</p>
	      <p><b>Latin phrases:</b></p>
	      <ul><li>Amicus curiae: advice given to the court from an outside entity not aligned with the defendant or plaintiff.</li>
		      <li>Certiorari: a writ issued by the Supreme Court in appealing a lower court's decision</li>
		      <li>De facto:"in fact"</li>
		      <li>De jure: "in law"</li>
		      <li>De novo: "anew;" in a court of appeals, this means that the judge will not be taking the previous judge (the trial judge)'s decision into account when making a new decision.</li>
	      </ul>
	      <p>Judges all write in different styles. Generally, court language is very formal; however, judges may inject bits of humor into their decisions. You may unexpectedly find yourself laughing out loud at the absurdity of some judge's footnote or reference. In the case Bar and Grille v. City of San Antonio, judge Biery issued a <a href = "https://www.scribd.com/document/138711177/35-Bar-and-Grille-v-City-of-SA-Order-Re-Prelim-Injunction-Part-I">preliminary injunction</a> in which he threaded his introduction and conclusion with endless strings of puns. In another case, <a href="http://cdn.ca9.uscourts.gov/datastore/opinions/2015/09/23/13-55484.pdf">DC Comics v. Towle</a>, judge Ikuta makes several popular culture references, in particular numerous references to Batman.</p>
	      <p>If one judge on a panel of judges disagrees with the majority, they may decide to write their own dissenting opinion. The dissent will generally be briefer than the majority decision and will call into criticism elements of the majority's reasoning.</p>
	      <p>Reading court cases can be difficult even when you understand the language of the court listed above, in particular with cases older than the last 100 years. Be patient with yourself and recognize that reading cases becomes easier with time.</p>

	      <hr>

	      <h4 class="text">References:</h4>
	      <p>1. <a href="http://www.uscourts.gov/glossary" target="_blank">http://www.uscourts.gov/glossary</a></p>
	      <p>2. <a href="https://www.law.cornell.edu/wex/certiorari" target="_blank">https://www.law.cornell.edu/wex/certiorari</a></p>
       </div>
       
       <!-- WebSite Footer -->
       <footer class="footer">
	      <p>&copy; 2017. Created by <a href="https://github.com/lasyasreepada/iplaw-for-digital-teens" target="_blank">Lasya Sreepada</a> for CPSC 184: Intellectual 		Property in the Digital Age.</p>
      </footer>

  </body>
</html>





	      

